<div id="test" class="well">
  <div class="col s12 m7">
    <h2 class="header">  <%= @product.name %></h2>
    <div class="card horizontal">
      <div class="card-image">
        <h2><%= image_tag ('monkey.jpg') %></h2>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h3> <%= @product.name %></h3>
          <h5><%= @product.price %></h5>
          <p><%= @product.description %></p>
        </div>
        <div class="card-action">
          <%= link_to 'Return to Products', products_path %>
        </div>
      </div>
    </div>
  </div>
</div>
