<h3>Products</h3>
<div class="row">
  <div class="col-md-4">
    <% @products.each do |product| %>
      <div class="col s4">
        <h4><%= link_to product.name, product_path(product)%></h4>
        <p><%= number_to_currency product.price %></p>
        <div class='product_details' id='product_details_<%= product.id %>'>
          <p><%= product.description %></p>



        </div>
        <%= form_for @order_item, id: 'add_to_cart_form', remote: true do |f| %>
          <%= f.hidden_field :product_id, value: product.id %>
          <%= f.number_field :quantity,:min=>0, class: "add_to_cart_field" %>
          <span class="waves-effect waves-light btn"><%= f.submit "Add to cart" %></span>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>
